@model Classes
@using FitnessWebApplication.Data.Enums;
@{
    ViewData["Title"] = "Details about a class";
}

<h1>Detalii despre clasa </h1>
<div class="col-md-6 offset-2">
    <img src="@Model.PictureUrl" class="align-baseline" alt="@Model.Name" >
    <div class="card-block">
        <!--Title-->
        <h4 class="card-title">@Model.Name</h4>
        <!--Text-->
        <p class="card-text">@Model.Description</p>
        <p class="card-text"><b>Antrenorul clasei:</b>
                             <a asp-controller="Trainers" asp-action="Details" asp-route-id="@Model.TrainerId">@Model.Trainer.FirstName</a>
        </p>
        <p class="card-text" ><b>Categoria clasei:</b>@Model.ClassCategory.ToString()</p> 

    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
